<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../static/vue.js"></script>
</head>


<body>
<div id="app">
    <h2>Registration:</h2>
    <ol>
        <li>
            <label>
                <input type="text" name="username" placeholder="edit me" id = "username"
                       v-model="username">
                <span>
          Username
        </span>

            </label>
        </li>
        <li>
            <label>
                <input type="text" name="password" placeholder="edit me" id = "password"
                       v-model="password">
                <span>
          Password
        </span>

            </label>
        </li>
        <li>
            <label>
                <input type="text" name="confirm_password" placeholder="edit me" id ="confirm_password"
                       v-model="confirm_password">
                <span>
          Confirm Password
        </span>

            </label>
        </li>
        <li>
            <label>
                <input type="text" name="email" placeholder="edit me" id ="email"
                       v-model="email">
                <span>
          Email
        </span>

            </label>
        </li>
        <button type="submit" value="Submit" v-on:click="register">
            Register
        </button>
    </ol>

</div>
</body>
</html>