<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<title>W3Schools</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-container">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="vueLibrary.js"></script>

<h1>Library</h1>


<div id="library">
    <table class="w3-table-all">
        <tr>
            <th>Title</th>
            <th>Autor</th>
            <th>Year</th>
            <th>Type</th>
            <th>Action</th>
        </tr >
        <tbody v-for="(item,index) in l">
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.productionYear }}</td>
            <td>{{ item.type }}</td>
<!--            <td> <button class="button button3" @click="delete(index)">Delete</button></td>-->
            <td> <button @click="delete(index)">Delete {{index}}</button></td>
        </tbody>
    </table>

    <button type="submit" value="Submit" @click="AddBook">
        Add Book
    </button>
    <button type="submit" value="Submit" @click="logout">
        Logout
    </button>
</div>

</body>

    <style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 8px;
        text-align: match-parent;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button3 {background-color: #f44336;} /* Red */
</style>

</html>